<?xml version="1.0"?>
<model>
  <name>ROG-X by ANT-X with external vision pose estimation mockup</name>
  <version>1.0</version>
  <sdf version='1.6'>rogx_vision_mockup.sdf</sdf>

  <author>
   <name>Mattia Giurato</name>
   <email>mattia@antx.it</email>
  </author>

  <description>
    This is a model of the ROG-X coaxial octarotor by ANT-X with external vision pose estimation mockup.
    The vision pose estimator mockup does not render images and is therefore suited to run faster than real time.
    The original model has been created and maintainted by Mattia Giurato.
  </description>
</model>
