<?xml version="1.0"?>
<model>
  <name>ROG-X by ANT-X with optical flow mockup</name>
  <version>1.0</version>
  <sdf version='1.6'>rogx_opt_flow_mockup.sdf</sdf>

  <author>
   <name>Mattia Giurato</name>
   <email>mattia@antx.it</email>
  </author>

  <description>
    This is a model of the ROG-X coaxial octarotor by ANT-X with an optical flow sensor mockup.
    The optical flow sensor mockup does not render images and is therefore suited to run faster than real time.
    The original model has been created and maintainted by Mattia Giurato.
  </description>
</model>
