<?xml version="1.0"?>
<model>
  <name>ROG-X by ANT-X</name>
  <version>1.0</version>
  <sdf version='1.6'>rogx.sdf</sdf>

  <author>
   <name>Mattia Giurato</name>
   <email>mattia@antx.it</email>
  </author>

  <description>
    This is a model of the ROG-X coaxial octarotor by ANT-X.
    It includes a GPS for the position estimate and a lidar sensor in order to improve the altitude estimate.
    The original model has been created and maintainted by Mattia Giurato.
  </description>
</model>
